<ion-header>
  <!-- <ion-toolbar [color]="toolbar"> -->
  <ion-toolbar color="primary">
    <ion-title>
      Hydro Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- 
  Card LocalNotificationSchema
  Card Schedule
-->

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>LocalNotificationSchema</ion-card-title>
    </ion-card-header>
    
    <ion-card-content >
      <ion-item>
        <ion-label position="floating">
          title
        </ion-label>
        <ion-input type="text" [(ngModel)]="settings.title" placeholder="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          body
        </ion-label>
        <ion-input type="text" [(ngModel)]="settings.body" placeholder="body"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          id
        </ion-label>
        <ion-input type="number" [(ngModel)]="settings.id" placeholder="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          schedule
        </ion-label>
        <ion-input type="any" disabled="true" placeholder="schedule"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          autoCancel
        </ion-label>
        <ion-checkbox slot="start" [(ngModel)]="settings.autoCancel"></ion-checkbox>
      </ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-button color="success" shape="round" expand="block" (click)="printValue()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="danger" shape="round" expand="block" (click)="resetValue()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <!-- <ion-card-content>
      <ion-item>
        <ion-label>Intervallo:</ion-label>
        <ion-input type="number" [(ngModel)]="inputRefresh"></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" color="success" (click)="printValue()">Dummy</ion-button>
    </ion-card-content> -->
  </ion-card>
</ion-content>
