<ion-header>
  <!-- <ion-toolbar [color]="toolbar"> -->
  <ion-toolbar color="primary">
    <ion-title>
      Hydro Reminder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Hello there!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Next reminder in ...</p>
      <p>Take a sip, just in case</p>
      <ion-icon name="sparkles-outline"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Did you know?
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      100% of all successful people drink water.
    </ion-card-content>
  </ion-card>

  <ion-button class="settings-btn" size="full" color="primary">Settings</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
